# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/

# IDE settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# DeepFace / TensorFlow cache
*.h5
models/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# Build files
build/
dist/

# Environment variables
.env
